__pycache__
*.pyc
.coverage
htmlcov
incoming/
_data/
_scrapes/
.DS_Store
spatula-cache.db
.idea/
.pre-commit-config.yaml
env/
data/**/*.pickle
alternate_formats/json/**
!alternate_formats/json/state_hash_list.txt
